include *.txt
include *.rst
include tox.ini
include buildout*.cfg

recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs *.txt
recursive-include docs Makefile

recursive-include Products *.dtml
recursive-include Products *.gif
recursive-include Products *.py
recursive-include Products *.svg
